{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
{% if user.is_authenticated %}
็Hello, {{ user.username }}
<p>
    <a href="{% url 'logout' %}">Logout?</a>
</p>
{% else %}
Go <a href="{% url 'login'%}?next={{request.path}}">Login</a>
{% endif %}

{% if latest_question_list %}
<ul>
    {% for question in latest_question_list %}
    <li>{{ question.question_text }}</li>
    {% if question.can_vote %}
    <form action="{% url 'polls:results' question.id %}">
        <input type="submit" value="results" />
    </form>
    <form action="{% url 'polls:detail' question.id %}">
        <input type="submit" value="vote" />
    </form>
    {% else %}
    <form action="{% url 'polls:results' question.id %}">
        <input type="submit" value="results" />
    </form>
    </li>

    {% if messages %}
    <ul class="messages">
        {% for msg in messages %}
        <b class="{{msg.tags}}">{{ msg }}</b>
        {% endfor %}
        {% endif %}
    </ul>
    {% endif %}
    {% endfor %}
</ul>
{% else %}
<p>No polls are available.</p>
{% endif %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">